
<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Canbulut Hukuk</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">3

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="~/css/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="~/css/extras.1.1.0.min.css">

    <link href="~/css/quill.snow.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="~/js/quill.min.js"></script>

    <script src="~/js/extras.1.1.0.min.js"></script>
    <script src="~/js/app/app-blog-new-post.1.1.0.js"></script>

</head>
<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                            <div class="d-table m-auto">
                                @{ 
                                    CanbulutHukuk.Web.Models.CHModels.Kullanici user =(CanbulutHukuk.Web.Models.CHModels.Kullanici)Session["LoginUser"];
                                }
                                <span class="d-none d-md-inline ml-1">@user.Ad.ToUpper() @user.Soyad.ToUpper()</span>
                            </div>
                        </a>
                        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                            <i class="material-icons">&#xE5C4;</i>
                        </a>
                    </nav>
                </div>                
                <div class="nav-wrapper">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["LeftMenu"].ToString() == "BlogList" ? "active": "")" href="@Url.Action("BlogList", "Sevgi", new {Id = 0})">
                                <i class="material-icons">vertical_split</i>
                                <span>Makale Listesi</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["LeftMenu"].ToString() == "PostEdit" ? "active": "")" href="@Url.Action("PostEdit", "Sevgi", new {Id = 0})">
                                <i class="material-icons">note_add</i>
                                <span>Makale Ekle</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["LeftMenu"].ToString() == "CategoryList" ? "active": "")" href="@Url.Action("CategoryList", "Sevgi", new {Id = 0})">
                                <i class="material-icons">vertical_split</i>
                                <span>Kategori Listesi</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["LeftMenu"].ToString() == "CategoryEdit" ? "active": "")" href="@Url.Action("CategoryEdit", "Sevgi", new {Id = 0})">
                                <i class="material-icons">note_add</i>
                                <span>Kategori Ekle</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <!-- / .main-navbar -->

                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>

