@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Blog Detay</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Blog", new {})">Blog Yazılarımız</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 pr-30-md">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>BEDELLİ ASKERLİKTE KIDEM TAZMİNATI</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20 BlogDetay">
                        <img src="~/img/blog/ucak.jpg" />
                        <br />
                        <ul style="padding-left: 0 !important; display:block; margin-top:20px; margin-bottom:10px;font-size: 13px;color: #d21e2b;">
                            <li class="pull-left"><i class="fa fa-calendar"></i>Mar 21, 2019</li>
                            <li class="pull-left" style="margin-left:25px;"><i class="fa fa-list-ul"></i> İş Hukuku</li>
                        </ul>
                        <div class="clearfix"></div><br>
                        <p class="ql-align-justify">7146 sayılı kanun ile birlikte gündeme gelen bedelli askerlik uygulaması, işçinin bu sebeple iş akdini feshetmesi halinde kıdem tazminatına hak kazanıp kazanamayacağı tartışmalarını da başlatmıştır. İşbu kanun ile yapılan düzenlemeye göre ödenecek bedel yanında 21 gün askeri temel eğitim yapılarak <strong>muvazzaf askerlik </strong>ödevi yerine getirilmiş kabul edilecektir.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">Bununla birlikte halen yürürlükte olan mülga 1475 sayılı İş Kanununun “Kıdem tazminatı” başlıklı 14. Maddesi;</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify"><em>	“Bu Kanuna tabi işçilerin hizmet akitlerinin… </em><strong><em>muvazzaf askerlik hizmeti dolayısıyla</em></strong><em>… feshedilmesi… halinde hizmet akdinin devamı süresince her geçen tam yıl için işverence işçiye 30 günlük ücreti tutarında kıdem tazminatı ödenir.” </em>Demektedir.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">Kanun maddesinden de görüleceği üzere fesih iradesi ve kıdem tazminatı için bir yıllık hizmet süresi koşulu dışında muvazzaf askerlik süresinin kısa olup olmaması, bedelli olup olmaması gibi başkaca şartlar aranmamaktadır.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">Bu kapsamda her ne kadar 7146 sayılı kanunda temel askerlik eğitimi süresince işçilerin çalıştıkları iş yeri, kurum ve kuruluşlar tarafından aylıksız veya ücretsiz izinli sayılacaklarına dair hüküm yer alsa da işbu madde işçinin kıdem tazminatına hak kazanamayacağı yönünde yorumlanamaz. Kaldı ki aksi yönde bir görüş ‘<strong>işçi lehine yorum ilkesi’ </strong>ile de bağdaşmayacaktır.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify"><strong>YARGITAY 9. HUKUK DAİRESİ E. 2014/15064 K. 2015/31360 T. 5.11.2015</strong> sayılı kararı ile bedelli askerlik sebebiyle iş akdini fesheden işçinin kıdem tazminatı talebini kabul ederek tüm bu tartışmalara açıklık getirmiştir.</p>
                        <p class="ql-align-justify"><br></p>
                        <p>Ayrıca yine <strong>YARGITAY 9. HUKUK DAİRESİ, 1983/3488 E., 1983/5183 K. ve 09.06.1983</strong> tarihli kararında:</p>
                        <p><br></p>
                        <p class="ql-align-justify">"2338 sayılı Yasanın geçici 6/5. maddesinde&nbsp;temel askerlik eğitimi süresince maaşsız ve ücretsiz izinli sayılacağı kuralı getirilmişse de bu kuralın çalışanın işini güvence altında tutmak amacına yönelik bulunduğu kuşkusuzudur.&nbsp;Öbür yandan İş Yasasının değişik 14. maddesinde muvazzaf askerlik hizmeti sebebiyle ayrılanlara kıdem tazminatı verileceği öngörülmüştür. Davacı bu koşulun gerçekleşmesine bağlı istekte bulunduğuna göre, isteğin esasının incelenerek hak ettiği kıdem tazminatına hükmedilmesi yasaya aykırılık teşkil etmez." demektedir.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">Yargıtay'ın vermiş olduğu bu kararın da 1111 sayılı kanunun geçici 55. maddesini açıkladığı kanaatindeyiz. Zira ilgili kanun maddesi uyarınca işçiye tanınan ücretsiz izin hakkı işçiye verilmiş ekstra bir güvence olup askerlik sebebiyle işten ayrılması halinde kıdem tazminatına hak kazanabileceği gerçeğini ortadan kaldırmayacaktır.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">4857 sayılı İş Kanunu’nun 31. Maddesinde ise askerlik sebebiyle işten ayrılan işçinin bu ödevin sona ermesinden başlayarak <strong>iki ay</strong> içinde işe girmek istedikleri takdirde işverenin bunları eski işleri veya benzeri işlerde boş yer varsa derhal, yoksa boşalacak ilk işe başka isteklilere tercih ederek, o andaki şartlarla işe almak zorunda olduğu aksi takdirde eski işçiye üç aylık ücret tutarında tazminat ödeyeceği düzenlenmiştir.</p>
                        <p class="ql-align-justify">Ancak burada dikkat edilmesi gereken nokta işverenin işe başlatmamasına karşın uygulanabilecek yaptırımın “üç alık ücret tutarında tazminat” olduğudur. Bu kapsamda işçi işverene karşı işe iade istemli dava açamayacaktır. Bu durum <strong>YARGITAY HUKUK GENEL KURULU’NUN E. 2015/22-1608 K. 2018/448 T. 7.3.2018 </strong>sayılı kararı ile açıklığa kavuşturulmuştur.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">İlgili kararda;</p>
                        <p class="ql-align-justify"><em>“Şu hâlde 4857 Sayılı İş Kanunu'nun 31/4. maddesi askeri veya kanuni bir ödev nedeni ile işten ayrılan işçiyi Kanunda öngörülen süre içinde başvurması hâlinde tekrar işe alması konusunda işverene bir yükümlülük getirmiş ise de, bu yükümlülüğün yerine getirilmemesi hâlinde işçiye işe alınması konusunda bir dava açma imkânı tanımayıp işverenin Kanunla getirilen yükümlülüğe uymamasının yaptırımı tazminat olarak belirlendiğine göre davacının işe iade istemi ile dava açması mümkün değildir.” </em>Denmektedir.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify">Yargıtay içtihatları ve kanun maddeleri doğrultusunda özetlemek gerekirse; bedelli askerlik sebebiyle işten ayrılan işçi diğer şartları taşıdığı takdirde kıdem tazminatına hak kazanabilecektir. Zira bedelli askerliğin kanunda belirlenen muvazzaf askerlikten farklı bir uygulamaya tabi tutulacağına ilişkin açık bir kanun hükmü bulunmamaktadır. Bununla birlikte askerlik sebebiyle işten ayrılan işçinin işe iade davası açma hakkı bulunmamaktadır. Ancak işçinin üç aylık ücret tutarında tazminat talebini içeren eda davası açma haklı saklıdır.</p>
                        <p class="ql-align-justify">&nbsp;</p>
                        <p class="ql-align-justify">&nbsp;</p>
                        <p><br></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-12">
                <div class="blog-list-right">
                    <div class="blog-list-left-heading">
                        <h4>Son Yazılar</h4>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/hand-wash.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("covid19_salgini_karsisinda_isci_isveren_iliskisi", "Blog")">COVID-19 SALGINI KARŞISINDA İŞÇİ-İŞVEREN İLİŞKİSİ</a>
                                <span>Mar 24, 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/market.png" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("tuketici_senedi_nasil_olmalidir", "Blog")">TÜKETİCİ SENEDİ NASIL OLMALIDIR?</a>
                                <span>Kas 27, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/gemi.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("gemi_adami_alacaklari_ihtiyati_haciz_ve_rehin", "Blog")">GEMİ ADAMI ALACAKLARI, İHTİYATİ HACİZ VE REHİN</a>
                                <span>Kas 22, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .BlogDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .BlogDetay {
        color: #555 !important;
        text-align: justify
    }

        .BlogDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>
