@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Blog Detay</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Blog", new {})">Blog Yazılarımız</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 pr-30-md">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>BORÇLUNUN TEMERRÜDÜNDE SÖZLEŞMEDEN DÖNME</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20 BlogDetay">
                        <img src="~/img/blog/coin.jpg" />
                        <br />
                        <ul style="padding-left: 0 !important; display:block; margin-top:20px; margin-bottom:10px;font-size: 13px;color: #d21e2b;">
                            <li class="pull-left"><i class="fa fa-calendar"></i>May 07, 2019</li>
                            <li class="pull-left" style="margin-left:25px;"><i class="fa fa-list-ul"></i> Borçlar Hukuku</li>
                        </ul>
                        <div class="clearfix"></div><br>
                        <p class="ql-align-justify">Muaccel bir borcun borçlu tarafından borç ilişkisine uygun olarak yerine getirilmemesine borçlunun temerrüdü denmektedir.&nbsp;TBK m.117’de&nbsp;bu durum açıkça hükme bağlanmıştır. Buna göre, borçlunun temerrüde düşebilmesi için borcun muaccel hale gelmiş olması başlıca şarttır. Burada borçlu, edimini yerine getirebileceği halde onu yerine getirmek istememektedir.&nbsp;Yani kısaca burada hukuki anlamda bir imkansızlık hali olmadığını söyleyebiliriz. Borçlu tamamen kendi davranışı sonucunda temerrüde düşmektedir.</p>
                        <p class="ql-align-justify">TBK m.123-126’da karşılıklı borç yükleyen sözleşmelerde&nbsp;borçlunun temerrüdü, özel bir takım sonuçlara bağlanmıştır. İlgili kanun hükümlerine göre alacaklının bir takım yükümlülüklerini yerine getirmesi sonucunda borçlu temerrüde düşer. Burada kanun koyucu alacaklıya bir takım seçimlik haklar vermiştir. Alacaklı, borcun ifası ve gecikme sebebiyle tazminat isteyebileceği gibi bu hakkından vazgeçtiğini derhal bildirerek borcun ifa edilmemesinden doğan zararın giderilmesini isteyebilir veya sözleşmeden dönebilir.</p>
                        <p class="ql-align-justify">Dönme hakkı karşı tarafa ulaşmakla sonuçlarını meydana getiren ve şekle bağlı olmayan yenilik doğuran bir haktır. Yapısı gereği bu hak kullanılmakla tükenir ve artık geri alınması mümkün değildir. Sözleşmeden dönme hakkı tam iki tarafa borç yükleyen sözleşmelerde borçlunun, temerrüde düşerek alacaklıyı zor duruma düşürmesine karşılık alacaklıya tanınmış bir haktır. Kanun koyucu bu hakkı yalnızca tam iki tarafa borç yükleyen sözleşmenin alacaklısına tanımıştır.</p>
                        <p class="ql-align-justify">Sözleşmeden dönmenin , sözleşmenin geçerliliğİne etkisi bakımından bir takım görüşler ileri sürülmüştür. Bunlar klasik dönme teorisi ve dönüşüm teorisidir. Klasik dönme teorisi sebepsiz zenginleşme teorisi, kanuni borç ilişkisi teorisi ve ayni etkili dönme teorisi olmak üzere üçe ayrılmaktadır. Sebepsiz zenginleşme teorisinin taraftarları&nbsp;sözleşmeden dönme halinde sebepsiz zenginleşme hükümlerinin uygulanacağını ileri sürmektedirler. Buna göre dönme beyanının ileri sürülmesi ile birlikte sözleşme geçmişe etkili olarak ortadan kalkmaktadır. Bu doğrultuda ortada geçerli bir sözleşme bulunmadığı için ifa edilen edimler de sebepsiz zenginleşme hükümlerine göre iade edilecektir. Kanuni borç ilişkisi teorisi ise klasik dönme teorisi gibi dönme beyanıyla birlikte sözleşmenin geçmişe etkili olarak tüm sonuçlarıyla birlikte ortadan kalkacağını savunmaktadırlar. Ancak bunlar sebepsiz zenginleşmeye ait kısa zamanaşımı süresini benimsememektedirler. Edimlerin iadesinin genel hükümler ışığında on yıllık zamanaşımı süresine tabi olduğunu savunmaktadırlar. İstihkak teorisi olarak da adlandırılan ayni etkili dönme teori sözleşmenin geçmişe etkili olarak ortadan kalkacağını kabul etmekte ancak klasik dönme teorisinden farklı olarak sözleşmeye ayni etki tanımaktadır. Buna göre ayni bir hakka dayanan iade istemleri zamanaşımına tabi değilken diğer iade istemleri sebepsiz zenginleşmeye ilişkin zamanaşımı sürelerine tabidir. Son zamanlarda oldukça fazla taraftar toplayan ve içlerinde Eren ile Serozan’ın da bulunduğu dönüşüm teorisi ise dönme beyanı ile birlikte sözleşmenin ortadan kalmadığını aksine yeni bir sözleşmeye dönüştüğünü kabul etmektedirler. Buna göre verme edimlerinin yerini geri verme edimleri almaktadır. Sözleşme adeta U çizer gibi tersine dönmektedir. Bu teorinin taraftarlarına göre dönme nedeniyle meydana gelecek iade talepleri genel hükümlere göre on yıllık zamanaşımına tabidir. Ancak Yargıtay kararlarında sebepsiz zenginleşme görüşünü benimsemiştir. Buna göre dönme halinde edimler sebepsiz zenginleşme hükümlerine göre geri istenebilecektir.</p>
                        <p class="ql-align-justify">Dönme hakkının doğuracağı hukuki sonuçlar TBK m.125’de sayılmıştır. Bu sonuçlardan ilki yerine getirilmemiş edimlerin son bulacağıdır. Bu hakkın kullanılması ile birlikte tarafların taahhüt ettikleri asli edim yükümlülükleri sona ereceği gibi yan edim yükümlülükleri ile yan yükümlülüklerde sona erer.</p>
                        <p class="ql-align-justify">Meydana gelen diğer bir sonuç ise ifa edilmiş edimlerin iadesidir. Sebepsiz zenginleşme hükümlerine göre sözleşme ortadan kalkacağı için meydana gelen zarar menfi tazminat hükümlerine göre geri istenebilecektir.</p>
                        <p class="ql-align-justify">İfası imkansızlaşan edimin değerinin ne zamana göre hesaplanacağı konusunda doktrinde farklı görüşler vardır. Ancak Yargıtay, ifanın imkansızlaştığı ana göre bir hesaplama yapılması gerektiği yönünde içtihat oluşturmuştur.</p>
                        <p class="ql-align-justify">Sözleşmeden dönme halinde borçlunun kusuru halinde, alacaklının menfi tazminat isteyebilme hakkı da mevcuttur. Sözleşmeden dönme için kusur gerekmezken menfi tazminat talebi için borçlunun kusuru ön şarttır. Alacaklı ayrıca borcun ifasından ve gecikme tazminatı isteme hakkından vazgeçtiğini hemen bildirerek sözleşmeden dönmekte ve sözleşmenin hüküm ifade etmemesi nedeniyle doğan zararlarının tazmin edilmesini istemektedir.</p>
                        <p><br></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-12">
                <div class="blog-list-right">
                    <div class="blog-list-left-heading">
                        <h4>Son Yazılar</h4>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/container.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("ihracat_bedeli_kabul_belgesi", "Blog")">İHRACAT BEDELİ KABUL BELGESİ (İBKB)</a>
                                <span>Mar 07, 2024</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/market.png" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("tuketici_senedi_nasil_olmalidir", "Blog")">TÜKETİCİ SENEDİ NASIL OLMALIDIR?</a>
                                <span>Kas 27, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/gemi.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("gemi_adami_alacaklari_ihtiyati_haciz_ve_rehin", "Blog")">GEMİ ADAMI ALACAKLARI, İHTİYATİ HACİZ VE REHİN</a>
                                <span>Kas 22, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .BlogDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .BlogDetay {
        color: #555 !important;
        text-align: justify
    }

        .BlogDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>
