@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Blog Detay</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Blog", new {})">Blog Yazılarımız</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 pr-30-md">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>COVID-19 SALGINI KARŞISINDA İŞÇİ-İŞVEREN İLİŞKİSİ</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20 BlogDetay">
                        <img src="~/img/blog/hand-wash.jpg" />
                        <br />
                        <ul style="padding-left: 0 !important; display:block; margin-top:20px; margin-bottom:10px;font-size: 13px;color: #d21e2b;">
                            <li class="pull-left"><i class="fa fa-calendar"></i>Mar 24, 2020</li>
                            <li class="pull-left" style="margin-left:25px;"><i class="fa fa-list-ul"></i> İş Hukuku</li>
                        </ul>
                        <div class="clearfix"></div>
                        <p class="ql-align-center"><br></p>
                        <p class="ql-align-justify">COVID-19 salgını sebebiyle işçi-işveren ilişkisinde bazı değişiklikler meydana geldiğini gözlemlemekteyiz. Zira bahsi geçen salgın Dünya Sağlık Örgütü tarafından pandemi olarak ilan edilmiş ve tüm Dünya’yı etkisi altına almıştır. Bu kapsamda karantina uygulamaları başlatılmış, belirli şartları taşıyan vatandaşlarımıza sokağa çıkmama yasağı getirilmiş ve bazı işyerleri kapatılmıştır. Günlük yaşamımızı etkileyen bu salgın aynı zamanda iş sözleşmelerinde de değişikliğe gidilmesi durumunu beraberinde getirmiştir.</p>
                        <p class="ql-align-justify">Yasal düzenlemeler ışığında işverenin, salgın sürecini en az zarar ile atlatmak için çalışma şeklinde birtakım değişikliklere gidebileceğini söylemekte fayda vardır. Bunlar uzaktan çalışma, kısa çalışma, ücretli/ücretsiz izin uygulaması ve telafi çalışması olarak karşımıza çıkmaktadır. Ancak bu değişikliklerin oldukça dikkatli bir şekilde uygulanması gerekmektedir. Aksi takdirde oldukça fazla hak kayıpları meydana gelebilir.&nbsp;</p>
                        <p class="ql-align-justify">İş bu yazımızda uygulamada karşımıza çıkabilecek birtakım sorunlara ve çözümlerine değineceğiz.</p>
                        <p class="ql-align-justify"><strong>I. İŞVERENİN ÇALIŞMA ŞEKLİNDE DEĞİŞİKLİĞE GİTMESİ</strong></p>
                        <p class="ql-align-justify"><strong>A. Uzaktan Çalışma Modeli</strong></p>
                        <p class="ql-align-justify">İşveren, imkanları olanak verdikçe uzaktan çalışma modelini uygulayabilir. Zira ülke olarak içerisinde bulunduğumuz salgın nedeniyle işçilerin yolda geçirdikleri süreç dahi kamu ve kendi sağlıkları için sorun teşkil etmektedir. Peki nedir uzaktan çalışma?</p>
                        <p class="ql-align-justify"><strong>1.Şekil Şartı</strong></p>
                        <p class="ql-align-justify">COVID-19 salgını sebebiyle yapılan uzaktan çalışmanın, İş Kanunu m.14 uyarınca belirlenen uzaktan çalışma olmadığını ileri süren hukukçular olmakla birlikte aksini savunanlar da mevcuttur. Henüz salgın sebebiyle uzaktan çalışmaya yönelik yayımlanmış bir tebliğ yahut verilmiş bir karar olmadığı için bu konu netleştirilememiş olsa da kanımızca&nbsp;&nbsp;işçinin yazılı onayının alınmasında fayda bulunmaktadır. Bu noktada yazımızı İş Kanunu m.14 uyarınca yapılması gerekenler yönünde ilerleteceğiz.</p>
                        <p class="ql-align-justify">İş Kanunu’nun 14. Maddesinde uzaktan çalışma;</p>
                        <p class="ql-align-justify"><em>“İşçinin, işveren tarafından oluşturulan iş&nbsp;organizasyonu kapsamında iş görme edimini evinde ya da teknolojik iletiştim araçları ile işyeri dışında yerine getirmesi esasına dayalı ve&nbsp;</em></p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify"><strong><em>yazılı</em></strong><em>&nbsp;olarak kurulan iş ilişkisidir.”</em>&nbsp;Demektedir.</p>
                        <p class="ql-align-justify">Görüleceği üzere uzaktan çalışma modelinin başlıca şartı yazılı bir sözleşmeye dayanıyor olmasıdır. Zira bu tarz bir değişiklik “iş sözleşmesinde esaslı değişikliğe” girmektedir.&nbsp;</p>
                        <p class="ql-align-justify">Ancak ülkenin içerisinde bulunan kriz hali nedeniyle genellikle işverenlerin herhangi bir yazılı onay almaksızın işçilerini evden çalışmaya yönlendirdiklerini görmekteyiz. Bu noktada işverenlerin ivedilikle kanuna uygun bir şekilde uzaktan çalışma sözleşmesi hazırlaması ve işçilerine sunması gerekmektedir. Burada sıfırdan bir sözleşme hazırlanması söz konusu olmayıp mevcut sözleşmeye ek bir sözleşme yapılacaktır.&nbsp;&nbsp;&nbsp;Yapılacak ek iş sözleşmesinde;&nbsp;<strong>işin tanımı, yapılma şekli, işin süresi ve yeri, ücret ve ücretin ödenmesine ilişkin hususlar, işveren tarafından sağlanan ekipman ve bunların korunmasına ilişkin yükümlülükler, işverenin işçiyle iletişim kurması ile genel ve özel çalışma&nbsp;şartlarına ilişkin hükümler</strong>&nbsp;yer alacaktır.&nbsp;</p>
                        <p class="ql-align-justify"><strong>2.Sözleşmenin Yazılı Olmaması Halinde Haklı Fesih</strong></p>
                        <p class="ql-align-justify">Uzaktan çalışma sözleşmesinin yazılı yapılmamış olması kanımızca tek başına işçiye haklı fesih hakkı tanımayacaktır. Zira işveren, yasal düzenlemeler uyarınca iş sağlığı ve güvenliği sağlanmak için&nbsp;<strong>“gerekli her türlü önlemleri alması”&nbsp;</strong>gerekmektedir. Dolayısıyla işverenin, işçilerin salgından korunması adına yapmış olduğu tek taraflı değişiklik, işçinin özlük haklarında herhangi bir eksilme yaratmıyorsa tek başına haklı fesih sebebi olamayacaktır.&nbsp;&nbsp;Burada önemli olan iş sözleşmesinde yapılan esaslı değişikliğin işçinin aleyhine sonuçlar doğurup doğurmadığıdır. İşçinin korunması adına yapılan bir düzenleme nedeniyle iş akdini haklı feshedemeyeceği açıktır. Türk Medeni Kanun’un 2. Maddesi uyarınca herkes, haklarını kullanırken ve borçlarını yerine getirirken dürüstlük kurallarına uymak zorundadır.&nbsp;</p>
                        <p class="ql-align-justify">Ancak tüm bunlara rağmen işçinin yazılı onayını almakta fayda bulunduğu aşikardır.</p>
                        <p class="ql-align-justify"><strong>3.Uzaktan Çalışmada İş Sağlığı Ve Güvenliği</strong></p>
                        <p class="ql-align-justify">Uzaktan çalışma modeli, işverenin iş sağlığı ve güvenliği nedeniyle alması gereken önlemleri bir kenara bırakması şeklinde yorumlanamaz. İş Kanunu’nda uzaktan çalışma modelinde İş Sağlığı Ve Güvenliği Bakımından işverene yüklenen yükümlülükler;</p>
                        <p class="ql-align-justify">	-Çalışanı bilgilendirmek,</p>
                        <p class="ql-align-justify">    -Gerekli eğitimi vermek,</p>
                        <p class="ql-align-justify">    -Sağlık gözetimini sağlamak,</p>
                        <p class="ql-align-justify">    -Sağladığı ekipmanlarla ilgili gerekli iş güvenliği önlemlerini almak&nbsp;</p>
                        <p class="ql-align-justify">şeklinde düzenlenmiştir. İşçinin uzaktan çalışmasına olanak veren işverenler, “işçi zaten kendi istediği yerde ve kendi şartları kapsamında çalışıyor, iş sağlığı ve güvenliğine ilişkin yapabileceğimiz bir şey yok” şeklinde düşünüyor olabilirler. Böyle bir düşünce mantıklı gelse de oldukça yanlıştır.&nbsp;</p>
                        <p class="ql-align-justify">Şu an yaşamış olduğumuz salgın sürecinde genellikle bilgisayar üzerinden çalışabilen işçilerin evden çalışmasına olanak verildiğini görmekteyiz. Bu noktada öncelikle işçilerin Ekranlı Araçlarla Çalışmalarda Sağlık Ve Güvenlik Önlemleri Hakkında Yönetmeliği kapsamında bilgilendirilmesi gerekmektedir. İlgili yönetmeliğin 6. Maddesinde;</p>
                        <p class="ql-align-justify"><em>“Ekranlı araçlarla çalışmalarda, çalışanların bilgilendirilmesi ve eğitimi ile ilgili olarak aşağıdaki hususlara uyulur.</em></p>
                        <p class="ql-align-justify"><em>a) İşveren, çalışanlara ve temsilcilerine çalışma yerlerinde sağlık ve güvenlik ile ilgili bütün konularda ve özellikle 5 inci, 7 nci ve 9 uncu maddelerde belirtilen hususlarda bilgi verir.</em></p>
                        <p class="ql-align-justify"><em>b) İşveren; çalışanların iş sağlığı ve güvenliği eğitimlerine ilişkin mevzuat hükümlerini de dikkate alarak ekranlı araçlarla çalışanlara, işe başlamadan önce ve çalışma koşullarında önemli bir değişiklik olduğunda gerekli eğitimi verir. Çalışanların iş sağlığı ve güvenliği eğitimleri; ilgili mevzuatta belirtilen periyotlarda ve işyerinde gerçekleştirilen risk değerlendirmesi sonuçlarının gerektirdiği durumlarda tekrarlanır.</em></p>
                        <p class="ql-align-justify">	<em>(2) Eğitim, özellikle aşağıdaki konuları içerir:</em></p>
                        <p class="ql-align-justify">	<em>a) Ekranlı araçlarla çalışmalarda riskler ve korunma yolları,</em></p>
                        <p class="ql-align-justify">	<em>b) Doğru oturuş,</em></p>
                        <p class="ql-align-justify">	<em>c) Gözlerin korunması,</em></p>
                        <p class="ql-align-justify">	<em>ç) Gözleri en az yoran yazı karakterleri ve renkler,</em></p>
                        <p class="ql-align-justify">	<em>d) Çalışma sırasında gözleri kısa sürelerle dinlendirme alışkanlığı,</em></p>
                        <p class="ql-align-justify">	<em>e) Gözlerin, kas ve iskelet sisteminin dinlendirilmesi,</em></p>
                        <p class="ql-align-justify">	<em>f) Ara dinlenmeleri ve egzersizler.”</em>&nbsp;Demektedir.</p>
                        <p class="ql-align-justify">Görüleceği üzere işçinin evden çalışması halinde de iş sağlığı ve güvenliği noktasında işverene ciddi sorumluluklar yüklenmiştir.&nbsp;</p>
                        <p class="ql-align-justify">Burada, evde meydana gelen kazaların hangi hallerde iş kazası sayılacağı her olaya göre ayrı olarak tespit edilecektir. Örnek vermek gerekirse bilgisayar başında çalışan bir işçinin evde çalışması için gerekli ve yeterli ortam sağlanamadığından&nbsp;sakatlanması iş kazası olarak değerlendirilebilecektir.</p>
                        <p class="ql-align-justify">Bunlara ek olarak ülkenin içerisinde bulunduğu COVID-19 salgını sebebiyle de işçilere gerekli ve yeterli bilgilendirmeler yapılmalı ve önlemler alınmalıdır. İşveren T.C. Sağlık Bakanlığı tarafından yayımlanan yöntemleri dikkatli bir şekilde incelemeli ve uygulamalıdır. Bu noktada işyeri hekiminden, iş sağlığı ve güvenliği uzmanından yardım almak yerinde olacaktır. Ancak dikkat edilmesi gereken konu uzaktan çalışan işçilerin de bu eğitimlere katılmasına olanak sağlanmasıdır. Çalışanların İş Sağlığı Ve Güvenliği Eğitimlerinin Usul Ve Esasları Hakkında Yönetmelik uyarınca “uzaktan eğitim” uygulamasına gidilebilir.</p>
                        <p class="ql-align-justify"><strong>4.Fazla Mesai, Ücret ve Yol-Yemek Giderleri</strong></p>
                        <p class="ql-align-justify">Uzaktan çalışma halinde salt bu sebeple işçinin ücretinde herhangi bir kesinti yapılamaz.&nbsp;</p>
                        <p class="ql-align-justify">Yol ve yemek giderlerine gelince, eğer işçiye normal çalışması halinde yol ve yemek ücreti ödeniyorsa bu durum sözleşmede yer almasa bile işyeri uygulaması sayılacağından uzaktan çalışma halinde de bu ödemelerin yapılması gerekmektedir. Ancak ayni yardım olarak bu hizmetlerin sağlanması halinde ise net bir Yargıtay kararı bulunmamaktadır. Bununla birlikte ayni olarak sağlanan yol ve yemek yardımlarının giydirilmiş ücret hesabında dikkate alınması gerektiği nettir.&nbsp;</p>
                        <p class="ql-align-justify">Bu noktada işçisinin evden çalışmaya başlaması halinde işveren yol ve yemek masraflarından kar sağlayacaktır. Dolayısıyla uzaktan çalışma modeline geçilse dahi bu yardımların karşılıklarının işçiye ödenmesi gerekeceği düşüncesindeyim. Her ne kadar yıllık izinde olan işçiye yol ve yemek yardımı ödemeleri yapılmayacağı Yargıtay içtihatlarıyla netleştirilmiş olsa da burada bir izin durumu söz konusu değildir. İşçi çalışmasına devam etmekte, yalnızca bunu evinden yapmaktadır. Dolayısıyla işveren, fiili çalıştığı dönemde yol ve yemek yardımı yaptığı işçisine uzaktan çalışma halinde de bunun karşılığını ödemelidir. Yahut COVID-19 sebebiyle zorunlu nedenlerle bu yola başvuran işveren evden çalışma halinde yol ve yemek yardımlarına ilişkin herhangi bir ödeme yapılmayacağı yönünde işçiden yazılı onay almalıdır. Aksi takdirde işçi, çalışma şeklinde esaslı değişiklik yapıldığı iddiasıyla yasal haklarını kullanabilecektir.</p>
                        <p class="ql-align-justify">Uzaktan çalışma halinde fazla mesai ücretinin söz konusu olup olmayacağı ise her somut olaya göre ayrı ayrı değerlendirilecektir. Zira evden çalışmaya başlayan işçi doğrudan işverenin yönetimi ve kontrolü altında bulunmamaktadır. Bu noktada, işçinin aslında mesai saatleri içerisinde halledebileceği bir işi uzun bir zaman dilimine yayarak bitirmesi halinde fazla mesai talep etmesi açıkça TMK m.2 dürüstlük kuralına aykırı olacaktır.</p>
                        <p class="ql-align-justify">Bu doğrultuda COVID-19 salgını sebebiyle ivedi bir şekilde uzaktan çalışma modeline geçen işverenler işçilerine;&nbsp;<strong>çalışma saatleri ve ara dinlenmeler ile kendi kararları doğrultusunda(herhangi bir talimat olmaksızın) fazla mesai yapamayacakları</strong>&nbsp;yönünde bir bildirimde bulunmaları yerinde olacaktır. Böylece kendisine verilen herhangi bir talimat söz konusu olmadığı halde kendi insiyatifi doğrultusunda fazla mesai yapan işçinin sonrasında fazla mesai talep edebilmesi mümkün olmayacaktır.</p>
                        <p class="ql-align-justify"><strong>B. Kısa Çalışma Yapılması</strong></p>
                        <p class="ql-align-justify">İlgili mevzuatta genel ekonomik, sektörel, bölgesel kriz veya&nbsp;<strong>zorlayıcı sebeplerle</strong>&nbsp;işyerindeki haftalık çalışma sürelerinin geçici olarak&nbsp;<strong>en az üçte bir oranında</strong>&nbsp;azaltılması veya süreklilik koşulu aranmaksızın işyerinde faaliyetin tamamen veya kısmen en az dört hafta süreyle durdurulması hallerinde, işyerinde üç ayı aşmamak üzere kısa çalışma yapılabileceği belirtilmiştir. Ülkenin içerisinde bulunduğu COVID-19 salgını da zorlayıcı sebep olarak kabul edilmektedir. Cumhurbaşkanı tarafından yayımlanan ekonomi paketiyle de bu durum açıkça kabul edilmiştir.</p>
                        <p class="ql-align-justify">Bu doğrultuda işveren kısa çalışma başvurusunda bulunabilir. Günlük kısa çalışma&nbsp;ödeneği; sigortalının son on iki aylık prime esas Kazançları dikkate alınarak hesaplanan günlük ortalama brüt&nbsp;kazancının %60’ıdır.&nbsp;COVID-19’dan olumsuz etkilendiği gerekçesiyle kısa çalışma talep eden işveren; buna ilişkin kanıtlarla birlikte Kısa Çalışma Talep Formu&nbsp;&nbsp;ile kısa çalışma yaptırılacak işçilere ilişkin bilgileri içeren listeyi bağlı olduğu İŞKUR biriminin elektronik posta adresine, elektronik posta göndermek suretiyle kısa çalışmaya başvuru yapabilir.</p>
                        <p class="ql-align-justify">Kısa çalışmaya geçilmesi halinde işçinin iş akdi sonlanmamakta, askıya alınmaktadır. İşverenin kısa çalışmaya geçmesi konusunda işçinin onayı aranmadığından bu sebep tek başına İş Kanunu m. 22 uyarınca fesih sebebi olamayacaktır. Ancak&nbsp;iş sözleşmesinin askıya alınmış olması onun hiçbir zaman feshedilemeyeceği anlamına gelmemektedir. İşyerinde uygulanan kısa çalışmanın türüne bağlı olarak iş sözleşmesi kaynaklı hak ve yükümlülüklere aykırılık halinde hem işçi hem de işverenin iş sözleşmesini haklı nedenle feshedebileceği ilke olarak kabul edilecektir.&nbsp;Kısa çalışma süresince işçinin iş görme işverenin ücret ödeme borcu belli ölçüde kısıtlandığından sözleşmenin askıda olduğu bu dönemde&nbsp;<strong>askıda kalan haklardan&nbsp;</strong>doğan haklı nedenle fesih imkânı bulunmamaktadır. Örneği, işyeri tamamen tatil edilmişse işçinin iş görme edimi olmadığından işini yapmadığı gerekçesi ile iş akdi haklı olarak feshedilemeyecektir. Ancak işçinin başka bir işçiye tacizde bulunması durumunda işverenin haklı fesih hakkı söz konusudur. Zira kısa çalışma halinde tarafların tüm yükümlülükleri askıya alınmamaktadır.</p>
                        <p class="ql-align-justify">Sonuç olarak, işçi iş akdini salt kısa çalışmaya geçilmesi ve ücretinin eksik ödenmesi sebebiyle haklı olarak feshedemez. Ancak işçi kısa çalışma süresi bitinceye kadar çalışmak zorunda da değildir. Bu kapsamda işçi, şartlarını sağlaması halinde İş Kanunu m.24/III’e göre iş akdini feshedebilecektir. Ancak bunun için işçinin çalıştığı bölümde işin&nbsp;<strong>TAMAMEN DURMASI</strong>gerekmektedir. İşin yavaşlaması veya azalması işçiye haklı fesih hakkı vermez.</p>
                        <p class="ql-align-justify"><strong>C. İşçiye Ücretli/Ücretsiz İzin Verilmesi</strong></p>
                        <p class="ql-align-justify">İşçiye ücretli izin verilmesi bu dönemde en sık karşılaşılan ve işverenlerin en fazla başvurduğu yöntemlerden biri olmaya başlamıştır. Kaldı ki gerek yasal mevzuat gerekse Yargıtay içtihatları doğrultusunda yıllık izin tarihlerini belirleme yetkisi işverenin yönetim yetkisi kapsamında işverene tanınmıştır.&nbsp;&nbsp;Bu kapsamda COVID-19 salgını sebebiyle işverenler işçilerine yıllık izinlerinden mahsup edilmek üzere ücretli izin verebilirler.</p>
                        <p class="ql-align-justify">Bu noktada asıl sıkıntı olan kısım işçilerin ücretsiz izne ayrılması olacaktır. İşverenin tek taraflı olarak işçiyi ücretsiz izne çıkarması mümkün değildir. Zira bu İş Kanunu m. 22 uyarınca iş sözleşmesinin esaslı unsurlarında değişiklik anlamına gelmektedir. Dolayısıyla böyle bir durum ile karşı karşıya kalan işçi 6 iş günü içerisinde iş akdini haklı olarak feshedebilecektir. İşçinin ücretsiz izne çıkmayı kabul etmesi halinde ise iş akdi askıya alınmış olacaktır. İş akdinin askıya alınması durumunda&nbsp;işçiye yalnızca ücret değil ücret ekleri de ödenmeyecektir. Kısaca, işverene ait olan işletme riskine işçi de katılmış olacaktır.</p>
                        <p class="ql-align-justify"><strong>D. Telafi Çalışması</strong></p>
                        <p class="ql-align-justify">Zorunlu nedenlerle işin durması, ulusal bayram ve genel tatillerden önce veya sonra işyerinin tatil edilmesi veya benzer nedenlerle işyerinde normal çalışma&nbsp;sürelerinin önemli ölçüde altında çalışılması veya tamamen tatil edilmesi ya da işçinin talebi ile kendisine izin verilmesi hallerinde, işveren&nbsp;<strong>iki ay</strong>&nbsp;içinde çalışılmayan süreler için telafi çalışması yaptırabilir.&nbsp;<strong>Bu çalışmalar fazla çalışma&nbsp;veya fazla sürelerle çalışma&nbsp;sayılmaz.</strong>&nbsp;Telafi çalışmaları, günlük en çok çalışma&nbsp;süresini aşmamak koşulu ile günde üç saatten fazla olamaz. Tatil günlerinde telafi çalışması yaptırılamaz.</p>
                        <p class="ql-align-justify">Yani işveren zorunlu sebeplerle çalışılamayan günleri, günlük 11 saati aşmamak şartıyla işçinin normal çalışmasına en fazla 3 saat ekleyerek iki ayda telafi edebilecektir.</p>
                        <p class="ql-align-justify">İşçinin telafi çalışması karşılığı işverenin kendisini izinli saymasını reddetme hakkı bulunmamaktadır. İşçi, Kanundaki koşullara göre uygulanmasına karar verilen bir telafi çalışmasını yapmakla yükümlüdür. Ancak burada işverenin, işçisine izin vermeden önce bunun “telafi” karşılığında olduğunu açıkça işçisine bildirmesi gerekmektedir. Aksi taktirde ispat açısından sorunlar çıkabilecektir. Buna rağmen sonrasında işçi telafi çalışmasına katılmazsa iş akdi işveren tarafından haklı olarak feshedilebileceği gibi kendisine ödenen ücretler geri alınabilecektir.</p>
                        <p class="ql-align-justify">Ayrıca telafi çalışmasının fazla mesai ile karıştırılmaması gerekmektedir. Telafi çalışmasında işveren, önceden ücretini ödemek kaydıyla işçini sonradan çalıştırmaktadır. Bu nedenle telafi süresinde(yasal sınırlar içerisinde) yapılan çalışmalar fazla mesai olarak kabul edilemeyecektir.</p>
                        <p class="ql-align-justify">COVID-19 sebebiyle açıklanan ekonomi paketinde ise telafi çalışması yapılması için belirlenen süre&nbsp;<strong>dört aya</strong>&nbsp;çıkarılmıştır. Bu nedenle işverenlerin ücretsiz izinde olduğu gibi haklı fesih ile karşı karşıya kalmamaları açısından telafi çalışmasına yönlenmeleri yerinde olacaktır. Sürenin dört aya çıkarılması ise işverenler açısından oldukça faydalı olmuştur. Böylece çalışılamayan süreler geniş bir zaman diliminde telafi edilebilecektir.</p>
                        <p class="ql-align-justify"><strong>II. ÇALIŞMAYA DEVAM ETMESİ ZORUNLU OLAN İŞÇİLER BAKIMINDAN İŞ SAĞLIĞI VE GÜVENLİĞİ ÖNLEMLERİ</strong></p>
                        <p class="ql-align-justify">COVID-19 sebebiyle T.C. Sağlık Bakanlığı tarafından zorunlu olmadıkça dışarı çıkılmaması önerilmiştir. Zira bahsi geçen virüs oldukça bulaşıcı olup cisimler üzerinden dahi bulaşmaktadır. Ancak kimsenin dışarı çıkmaması halinde tüm işler duracak işverenler üretimin devamlılığını sağlayamayacağı gibi işçiler de işsiz kalacaktır. Bu nedenle örneğin üretim gibi alanlarda işçilerin işe gitmek zorunda oldukları bir gerçektir.</p>
                        <p class="ql-align-justify">Bu doğrultuda işverenin, çalışmak zorunda kalan işçilerine gerekli eğitimleri vermesi, iş sağlığı ve güvenliği önlemlerini alması gerekmektedir. Yasal mevzuatta&nbsp;işverenin iş sağlığı ve güvenliği sağlanmak için&nbsp;<strong>“gerekli her türlü önlemleri alması”</strong>&nbsp;gerektiği belirtilmiştir.</p>
                        <p class="ql-align-justify">Dolayısıyla işverenle,&nbsp;&nbsp;Dünya Sağlık Örgütü ve Sağlık Bakanlığı’nın önerileri doğrultusunda işçilerin sağlığını etkileyecek tüm önlemleri almak zorundadırlar. Aksi taktirde olası bir ölüm halinde iş kazası iddiası ile karşı karşıya kalabileceklerdir. Örneğin İtalya’ya düzenli olarak seferler düzenleyen bir gemide çalışmakta olan yahut şehirlerarası toplantılara katılmak durumunda bırakılan bir işçiye korona virüsü bulaşması halinde bu durum iş kazası olarak değerlendirilebilecektir. Tüm bunların önüne geçebilmek yahut kusur oranını azaltmak adına işverenin gerekli önlemleri alması gerekmektedir.</p>
                        <p class="ql-align-justify">Aksi yönde bir davranış işçi açısından iş akdini haklı fesih sebebi sayılabilecektir. Bununla birlikte işçinin de kendisine verilen talimatları uygulaması ve iş sağlığı ve güvenliğini tehlikeye atmaması gerekmektedir. Örneğin işverenin maske dağıtması ve takılmasını zorunlu kılmasına rağmen işçi maskeleri kullanmıyor ve gerek işverenin gerekse diğer işçilerin sağlığını tehlikeye düşürüyorsa iş akdi, işveren tarafından haklı olarak feshedilebilecektir. Zira İş&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kanunu m. 25/2-ı uyarınca bu durum haklı fesih sebebi olarak belirlenmiştir.</p>
                        <p class="ql-align-justify"><strong>III.UYGULAMADA MEYDANA GELEBİLECEK DİĞER SORUNLAR</strong></p>
                        <p class="ql-align-justify"><strong>A.İşçinin 65 Yaşında, Kronik Hasta Veya 14 Günlük Karantina Süresi İçerisinde Olması</strong></p>
                        <p class="ql-align-justify">İşveren, fizken varlığına ihtiyaç duyduğu işçisinin 65 yaşında, kronik hasta veya 14 günlük karantina süresi içerisinde olması halinde yukarıda saydığımız ücretli/ücretsiz izin, telafi çalışması, kısa çalışma yöntemlerini uygulayabilecektir. Ancak işin devamlılığı açısından bu yöntemleri uygulayamayan işveren İş Kanunu m. 25/III uyarınca haklı fesih hakkını kullanabilecektir.</p>
                        <p class="ql-align-justify"><strong>YARGITAY9. HUKUK DAİRESİE. 2017/11091K. 2019/11043T. 15.5.2019</strong>&nbsp;sayılı kararında ;</p>
                        <p class="ql-align-justify"><em>“Ancak, sel, kar, deprem gibi doğal olaylar nedeniyle ulaşımın kesilmesi,&nbsp;</em><strong><em>salgın hastalık sebebiyle karantina uygulaması</em></strong><em>gibi durumlar zorlayıcı nedenlerdir.”</em></p>
                        <p class="ql-align-justify">Görüleceği üzere korona virüsü sebebiyle işçinin çalışamayacak durumda olması ilgili kanun uyarınca zorlayıcı sebeptir.</p>
                        <p class="ql-align-justify"><strong>B.İşçide COVID-19 Tespit Edilmesi</strong></p>
                        <p class="ql-align-justify">İşçilerden birinde hatta ve hatta işverende korona virüsünün tespit edilmesi işçi açısından İş Kanunu m. 24/I-b uyarınca haklı fesih sebebidir. Ancak burada virüs bulaşan kişinin, işçinin sürekli olarak yakından ve doğrudan buluşup görüştüğü bir kişi olması gerekmektedir.</p>
                        <p class="ql-align-justify">Bununla birlikte virüs kapan işçinin iş akdi, sağlık sebepleriyle olmasa dahi zorlayıcı sebeplerle haklı olarak feshedilebilecektir. Zira sağlık sebebiyle işçinin iş akdinin feshedilebilmesi için çalışmasında sakınca bulunduğunun Sağlık Kurulu’nca tespit edilmesi gerekmektedir.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify"><strong>C.İşyerinin İdari Bir Karar Sebebiyle Kapatılması</strong></p>
                        <p class="ql-align-justify">COVID-19 salgını sebebiyle tiyatro, sinema, gösteri merkezi, konser salonu, nişan/düğün salonu, çalgılı/müzikli lokanta/kafe, gazino, birahane, taverna, kahvehane, kıraathane, kafeterya, kır bahçesi, nargile salonu, nargile kafe, internet salonu, internet kafe, her türlü oyun salonları, her türlü kapalı çocuk oyun alanları (AVM ve lokanta içindekiler dahil), çay bahçesi, dernek lokalleri, lunapark, yüzme havuzu, hamam, sauna, kaplıca, masaj salonu, SPA ve spor merkezlerinin faaliyetleri geçici bir süreliğine durdurulmuştur. Şu an için sayılan işyerleri bakımından durdurma söz konusuysa da salgının gidişatına göre bunlarda değişiklik yapılabilecektir.</p>
                        <p class="ql-align-justify">Daha önce de değindiğimiz üzere bu durumda zorlayıcı sebep söz konusudur. İşçi İş Kanunu m.24/III uyarınca iş akdini haklı olarak feshedebilecektir. Bu durumda işçi kıdem tazminatına hak kazanırken ihbar tazminatı talep edemeyecektir. İşveren, kanun hükmü gereği bekleme süresi olan bir hafta boyunca işçiye her gün için yarım ücret öder. İşçi, haklı fesih hakkını ise bir haftalık süre geçtikten sonra kullanabilir.</p>
                        <p class="ql-align-justify"><strong>SONUÇ</strong></p>
                        <p class="ql-align-justify">Dünyanın içinde bulunduğu salgın hali birçok alanı etkilediği gibi işçi-işveren ilişkilerini de derinden etkilemiştir. Yaşanan sürecin ülke ekonomisine büyük zararlar vereceği yadsınamaz bir gerçektir.&nbsp;&nbsp;Bu kapsamda birlik olmaya çalışmak ve en az zararla süreci atlatabilmek için işçi ve işverenin hiç olmadığı kadar birbirlerine destek olması gerektiği aşikardır.</p>
                        <p class="ql-align-justify">Yaşanan süreç işverenleri oldukça etkilediği gibi işçi açısından da birtakım hak kayıpları meydana getirmektedir. Salgından korunmak isteyen işçi haklı olarak evden çıkmak istememekte ancak işveren de üretimin devamlılığını sağlamaya çalışmaktadır. Zararların en aza indirilebilmesi için uygulanabilecek birtakım yollara ve karşımıza çıkabilecek başkaca durumlara yazımızda olabildiğince yer vermeye çalıştık. En kısa sürede özgürlüğümüze ve sağlığımıza kavuşmak dileğiyle.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify"><br></p>
                        <p><br></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-12">
                <div class="blog-list-right">
                    <div class="blog-list-left-heading">
                        <h4>Son Yazılar</h4>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/hand-wash.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("covid19_salgini_karsisinda_isci_isveren_iliskisi", "Blog")">COVID-19 SALGINI KARŞISINDA İŞÇİ-İŞVEREN İLİŞKİSİ</a>
                                <span>Mar 24, 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/market.png" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("tuketici_senedi_nasil_olmalidir", "Blog")">TÜKETİCİ SENEDİ NASIL OLMALIDIR?</a>
                                <span>Kas 27, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/gemi.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("gemi_adami_alacaklari_ihtiyati_haciz_ve_rehin", "Blog")">GEMİ ADAMI ALACAKLARI, İHTİYATİ HACİZ VE REHİN</a>
                                <span>Kas 22, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .BlogDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .BlogDetay {
        color: #555 !important;
        text-align: justify
    }

        .BlogDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>
