@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Blog Detay</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Blog", new {})">Blog Yazılarımız</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 pr-30-md">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>GEMİ ADAMI ALACAKLARI, İHTİYATİ HACİZ VE REHİN</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20 BlogDetay">
                        <img src="~/img/blog/gemi.jpg" />
                        <br />
                        <ul style="padding-left: 0 !important; display:block; margin-top:20px; margin-bottom:10px;font-size: 13px;color: #d21e2b;">
                            <li class="pull-left"><i class="fa fa-calendar"></i>Kas 22, 2019</li>
                            <li class="pull-left" style="margin-left:25px;"><i class="fa fa-list-ul"></i> İş Hukuku</li>
                        </ul>
                        <div class="clearfix"></div><br>
                        <p><strong style="background-color: transparent;">1.GEMİ ADAMI KİMDİR?</strong></p>
                        <p>Biş iş akdine bağlı olarak gemide çalışan işçilerin gemi adamı sayılabilmesi ve haklarında Deniz İş Kanunu’nun uygulanabilmesi için bir takım özel şartlar aranmıştır.&nbsp;</p>
                        <p>Buna göre, gemide çalışan bir işçinin gemi adamı sayılabilmesi ve hakkında Deniz İş Kanunu’nun uygulanabilmesi için çalıştığı geminin;</p>
                        <p>-<span style="background-color: transparent;">“Yüz ve daha yukarı grostonilatoluk&nbsp;&nbsp;bir gemi olması(işveren ait tüm gemilerin grostonilatoları toplamının yüz veya daha fazla olması da yeterli görülmüştür)”&nbsp;</span></p>
                        <p>veya</p>
                        <p>-<span style="background-color: transparent;">“İşverenin çalıştırdığı gemiadamı sayısının 5 veya daha fazla olması”&nbsp;</span></p>
                        <p>gerekmektedir.&nbsp;</p>
                        <p>Gemi adamı olarak çalışmakta olan işçilere Deniz İş Kanunu’nda ve Türk Ticaret Kanunu’nda birçok önemli haklar tanınmıştır. Bunlardan en önemlisi&nbsp;<span style="background-color: transparent;">TEMİNATSIZ&nbsp;</span>olarak işin ifa edildiği gemiye&nbsp;<span style="background-color: transparent;">İHTİYATİ HACİZ</span>&nbsp;konulabilmesidir. İşçilere tanınan bu hak oldukça önemli olup çoğu zaman alacaklarının tamamını güvence altına almaktadır.</p>
                        <p><strong style="background-color: transparent;">2.GEMİ ADAMLARININ İŞÇİLİK ALACAKLARI İÇİN İHTİYATİ HACİZ</strong></p>
                        <p>İhtiyati haciz kavramı gemi adamları için TTK’da düzenlenmiştir. TTK’ya göre haczin tatbik edilebilmesi için öncelikle işçinin Deniz İş Kanunu’na tabi olup olmadığının tespit edilmesi gerekmektedir. Yukarıda da bahsettiğimiz üzere bu durum Deniz İş Kanunu’nun 1. Maddesinde açıkça düzenlenmiştir.&nbsp;&nbsp;İlgili kanun maddesindeki şartlardan en azından birinin sağlanması halinde işçi “gemi adamı” olarak Kabul edilebilecek ve hakkında Deniz İş Kanunu uygulanabilecektir. Bu durumda karşımıza çıkan en önemli kavram TTK’da düzenlenen&nbsp;<span style="background-color: transparent;">İHTİYATİ HACİZ”</span>&nbsp;kavramıdır.</p>
                        <p>Deniz alacaklarının teminat altına alınması için&nbsp;<span style="background-color: transparent;">GEMİNİN</span>&nbsp;ihtiyati haczine karar verilebilir. Bunun için kanun koyucu bir takım şartlar öngörmüştür.&nbsp;<span style="background-color: transparent;">TTK m.1362</span>&nbsp;uyarınca bir alacak sebebiyle geminin ihtiyaten haczedilebilmesi için&nbsp;&nbsp;alacağın; TTK m.1352 nci maddede sayılan&nbsp;<span style="background-color: transparent;">deniz alacaklarından olduğu ve parasal değeri hakkında mahkemeye kanaat getirecek delil göstermesi YETERLIDIR</span>. Görüleceği üzere ihtiyati haczin tatbiki için kanun koyucu kesin ve net bir delil aramamış aksine mahkemede kanaat uyandıracak kadar delil sunulmasını yeterli görmüştür.</p>
                        <p>Bu kapsamda öncelikle, gemi adamlarının işçilik alacaklarının deniz alacaklarından olup olmadığının ayrımının yapılması gerekmektedir.&nbsp;Türk Ticaret Kanunu’nun<span style="background-color: transparent;">&nbsp;1320/1-a. ve 1352/1-o.&nbsp;</span>&nbsp;maddelerine baktığımızda ise&nbsp;&nbsp;gemi adamlarının işçilik alacaklarının hem&nbsp;<span style="background-color: transparent;">DENİZ ALACAĞI</span>&nbsp;hem de&nbsp;<span style="background-color: transparent;">GEMİ ALACAĞI&nbsp;</span>olarak tanımlandığını görmekteyiz. Dolayısıyla bir gemi adamının mahkemeye, işvereninden alacağı olduğuna dair kısmi bir delil göstermesi halinde lehine ihtiyati haciz kararı verilmesi gerektiğini söyleyebiliriz.</p>
                        <p><strong style="background-color: transparent;">YARGITAY11. HUKUK DAİRESİE. 2015/12944K. 2015/12348T. 23.11.2015&nbsp;</strong><strong>sayılı kararında;</strong></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em style="background-color: transparent;">“Talep, işçilik alacaklarını teminen geminin ihtiyaten haczi istemine ilişkindir.İhtiyati haciz, bir para </em> <em style="background-color: transparent;">alacağının zamanında ödenmesini sağlamak için mahkeme kararı ile borçlunun mallarına geçici bir süre el konulmasıdır. ihtiyati haczin koşulları 2004 Sayılı İİK'nın 257. maddesinde hükme bağlanmış olup, ihtiyati haciz kararı verilebilmesi için, alacaklının, alacağın varlığı ile yasada belirtilen koşulların oluştuğu yönünde mahkemeye olumlu şekilde kanaat uyandırması gereklidir. Buradaki ispat asıl davadaki gibi kesin ve tam bir ispat olmayıp aynı Kanun'un 258. maddesi uyarınca ihtiyati haciz kararı verilebilmesi için mahkemenin </em><strong style="background-color: transparent;"><em>"ALACAĞIN VARLIĞI HAKKINDA KANAAT EDINMIŞ OLMASI</em></strong><em style="background-color: transparent;">" yeterlidir.</em></p>
                        <p><em style="background-color: transparent;">Somut olayda; mahkemece talebe konu alacak ve miktarı hususunda yeterli delil sunulmadığı gerekçesiyle istem reddedilmiş ise de, ihtiyati haciz talep eden vekilinin, kanıt olarak…&nbsp;Ç</em><strong style="background-color: transparent;"><em>ALIŞANLARIN YAPTIKLARI IŞLERI VE MAAŞ ALACAKLARINI GÖSTEREN BELGE ILE ...” BAŞLIKLI GEMI ÇALIŞANLARININ BILGILERINI IÇERIR IKI BELGE SUNULDUĞU…</em></strong><em style="background-color: transparent;">&nbsp;anlaşılmıştır.</em></p>
                        <p><em style="background-color: transparent;">Bu durum karşısında Türk Ticaret Kanunu'nun 1353. maddesiyle İcra ve İflas Kanunu'nun 257. maddesi hükümlerine&nbsp;göre muaccel olmuş çalışma karşılığı ücret alacağı için ihtiyati haciz talep koşulları bulunduğu gözetilerek,&nbsp;mahkemece ihtiyati haciz isteminin kabulüne karar verilmesi gerekirken istemin reddi doğru olmamış bu husus bozmayı gerektirmiştir.”</em>&nbsp;Demektedir.</p>
                        <p>Yargıtay kararından da görüleceği üzere gemi adamı alacakları hakkında gemiye ihtiyati haciz konulabilmesi için&nbsp;<span style="background-color: transparent;">KESİN DELİL</span>olmasına gerek yoktur. Aksine kanun açıkça kısmi ispatı yeterli görmüştür. Öyle ki, ihtiyati haciz kararı için borçlunun mal kaçırma kastı dahi aranmamıştır.</p>
                        <p>Ayrıca ihtiyati haciz kararının uygulanabilmesi için geminin Türk bayrağı taşıyıp taşımaması önem arz etmeyeceği gibi ihtiyati haczi talep edilen geminin sicile kayıtlı olup olmaması da önem arz etmemektedir. Bununla birlikte&nbsp;<span style="background-color: transparent;">bir geminin ihtiyati haczi, borçlunun o geminin işletilmesinden elde ettiği geliri ve menfaatleri de&nbsp;</span>kapsamaktadır.&nbsp;</p>
                        <p>Tüm bunlara ek olarak bilindiği üzere İİK’ya göre ihtiyati haciz kararı verilebilmesi için uygun bir teminat yatırılması gerekmektedir. Bu teminat ile alacaklının haksız çıkması durumunda karşı tarafın zararlarının koruma altına alınması hedeflenmiştir. Peki gemi adamlarının işçilik alacakları sebebiyle uygulanacak ihtiyati haciz kararında teminat aranacak mıdır?</p>
                        <p>TTK m.1363/3&nbsp;&nbsp;bu durumu çok net bir şekilde açıklamış ve gemi adamlarının işçilik alacakları sebebiyle gemiye&nbsp;<strong style="background-color: transparent;">TEMİNATSIZ OLARAK</strong>&nbsp;ihtiyati haciz konulacağını hükme bağlamıştır.&nbsp;</p>
                        <p>Burada gemi adamlarına tanınmış oldukça önemli bir hak olduğunu görmekteyiz. Zira işveren karşısında zaten güçsüz konumda olan işçi kendisine tanınmış bu hak doğrultusunda alacaklarını en baştan güvence altına alabilecektir.</p>
                        <p><strong style="background-color: transparent;">3.İHTİYATİ HACZİN TATBİKİ</strong></p>
                        <p>İhtiyati haciz talebi asıl davada istenebileceği gibi dava açılmadan önce de talep edilebilir.&nbsp;&nbsp;Burada yetkili mahkemenin belirlenmesi oldukça önemlidir.&nbsp;</p>
                        <p>Türk Bayraklı gemiler hakkında ihtiyati haciz kararı sadece, geminin demir attığı, şamandıraya veya tonoza bağlandığı, yanaştığı veya kızağa alındığı yer mahkemesi ya da Türk Gemi Siciline kayıtlı gemilerde, sicil yeri mahkemesi, sicile kayıtlı olmayan gemilerde malikin yerleşim yeri mahkemesi TTK’nın 941 inci maddenin üçüncü fıkrası uyarınca tutulan özel sicile kayıtlı gemilerde kiracının yerleşim yeri mahkemesinden talep edilebilir. Türkiye’de bulunan yabancı bayraklı gemiler hakkında&nbsp;&nbsp;ise ihtiyati haciz kararı, sadece geminin demir attığı, şamandıraya veya tonoza bağlandığı, yanaştığı ya da kızağa alındığı yer mahkemesi tarafından verilebilir.&nbsp;Bir deniz alacağı hakkında, yurt içinde mahkemede dava açıldıktan sonra, ihtiyati haciz kararı, sadece davayı gören mahkemeden istenebilir.&nbsp;</p>
                        <p>Burada dikkat edilmesi gereken en önemli noktalardan bir tanesi de alacaklının,&nbsp;<strong>İHTİYATİ HACİZ KAR</strong><strong style="background-color: transparent;">ARININ VERİLMESİ TARİHİNDEN İTİBAREN 3 İŞ GÜNÜ İÇERİSİNDE&nbsp;</strong>kararı veren mahkemenin yargı çevresindeki veya geminin bulunduğu yerdeki icra dairesinden kararın infazını istemek zorunda olmasıdır. Daha önceki makalelerimizde de değindiğimiz gibi burada hakimin geç onaylaması, memurun sisteme geç giriş yapması gibi birçok sebeple verilen kararın, UYAP sistemine karar tarihinden oldukça sonra düştüğünü bilmekteyiz. Bu sebeple ihtiyati haciz kararı talep ettiğimiz takdirde her gün mahkeme kalemine bizzat sonucun sorulması gerekmektedir. Günümüz teknolojisinde yaşanan bu durum oldukça trajikomik olsa da kanun maddesi sebebiyle uygulayabileceğimiz başkaca bir yol bulunmamaktadır. Zira haczin icrası için&nbsp;<strong>TEBLİĞ TARİHİNDEN</strong><strong style="background-color: transparent;">&nbsp;</strong><strong>i</strong>tibaren&nbsp;değil,<strong> KARAR TA</strong><strong style="background-color: transparent;">RİHİNDEN</strong><span style="background-color: transparent;"> </span>itibaren 3 iş günü kadar süremiz bulunmaktadır. Aksi taktirde verilen ihtiyati haciz kararı kendiliğinden ortadan kalkmaktadır.</p>
                        <p>Alacaklı süresinde ihtiyati haciz kararını icraya koyduktan sonra artık borçlu yalnızca haczi tatbik eden icra dairesinin bağlı bulunduğu&nbsp;İCRA HUKUK MA<span style="background-color: transparent;">HKEMESİ’NDEN&nbsp;</span>haczin kaldırılmasını isteyebilecektir. Burada borçluların yaptığı en büyük hata haczin kaldırılmasını ihtiyati haciz kararı veren mahkemeden istemeleridir.&nbsp;</p>
                        <p>TTK m.1371/1<span style="background-color: transparent;">. </span>Maddesinde;</p>
                        <p>“<em style="background-color: transparent;">Geminin maliki veya borçlu, geminin değerini geçmemek kaydıyla, deniz alacağının tamamı, faizi ve giderler için yeterli teminat göstererek, ihtiyati haczin kaldırılmasını mahkemeden isteyebilir. Takibe başlandıktan sonra bu yetki, icra mahkemesine geçer</em>.” Demektedir.</p>
                        <p>Kanun maddesinden de görüleceği üzere icra hukuk mahkemesinden ihtiyati haczin kaldırılmasını talep edebilmek için borçlunun ayrıca&nbsp;<strong>YETERLİ BİR T</strong><strong style="background-color: transparent;">EMİNAT</strong>göstermesi de gerekmektedir.</p>
                        <p><strong style="background-color: transparent;">4.GEMİ ADAMININ REHİN HAKKI NEDİR?</strong></p>
                        <p>TTK M.1321&nbsp;uyarınca işçilik alacağı bulunan gemi adamının ayrıca&nbsp;KANUNİ RE<span style="background-color: transparent;">HİN HAKKI&nbsp;</span>da bulunmaktadır.&nbsp;Gemi alacaklısının rehin hakkı, kanunda da belirtildiği üzere, kanunda belirtilen alacaklardan birinin doğmasıyla birlikte&nbsp;tescil <span style="background-color: transparent;">ve teslime gerek olmaksızın</span>kendiliğinden meydana gelen kanuni rehin hakkını ifade eder. Dolayısıyla ‘gemi alacaklısının rehin hakkı’ kanundan doğan haktır.</p>
                        <p>Gemi alacaklılarının sahip olduğu kanuni rehin hakkı, gemi üzerinde tescil edilmiş veya edilmemiş olan bütün kanuni ve akdî rehin haklarıyla ayni yükümlülüklerden önce gelir. Bununla birlikte kanuni rehin hakkı sahibinin bu hakkı gemi alacağının doğduğu andan itibaren&nbsp;1 YILgeçmesi halinde düşecektir. Ancak her ne kadar burada tanınan hak&nbsp;KANUNİ<span style="background-color: transparent;">&nbsp;</span>bir hak olsa da uygulanabilmesi için yetkili ve görevli mahkemelerce tespit edilmesi gerekmektedir. Rehin hakkı sahibi doğrudan bu hakkını kullanarak rehin yoluyla icra takibi yapabileceği gibi işçilik alacakları sebebiyle dava açmış olduğu mahkemeden bu hakkın tespitini de talep edebilecektir.</p>
                        <p><strong>YARGI</strong><strong style="background-color: transparent;">TAYHUKUK GENEL KURULUE. 2017/9-2516K. 2019/360T. 28.3.2019&nbsp;</strong>sayılı kararında;</p>
                        <p>“Ala<em style="background-color: transparent;">caklıya&nbsp;gemi&nbsp;alacağı hakkı veren bu alacaklardan biri de 6102 Sayılı TTK'nın&nbsp;</em>132<a href="http://www.kazanci.com/kho2/ibb/files/tc6102.htm#1320" target="_blank" style="background-color: transparent; color: rgb(102, 94, 208);"><em>0</em></a>'n<em style="background-color: transparent;">ci maddesinin birinci fıkrasının (a) bendinde belirtilen; “Ülkelerine getirilme giderleri ve onlar adına ödenmesi gereken sosyal sigorta katılma payları da içinde olmak üzere,&nbsp;gemi&nbsp;adamlarına,&nbsp;gemide çalıştırılmakta olmaları dolayısıyla ödenecek ücretlere ve diğer tutarlara ilişkin istem hakları”dır.&nbsp;</em>6<em style="background-color: transparent;">102 Sayılı TTK'nın&nbsp;</em><a href="http://www.kazanci.com/kho2/ibb/files/tc6102.htm#1321" target="_blank" style="background-color: transparent; color: rgb(102, 94, 208);"><em>1321</em></a><em style="background-color: transparent;">'inci, 6762 Sayılı mülga TTK'nın ise 1236'ncı maddeleri uyarınca gemi&nbsp;alacağı, sahibine, gemi ve eklentisi üzerinde kanuni&nbsp;rehin&nbsp;hakkı verir.&nbsp;</em><strong style="background-color: transparent;"><em>DOLAYISIYLA&nbsp;GEMİ&nbsp;ALACAĞINDAN KAYNAKLANAN KANUNİ&nbsp;REHİN&nbsp;HAKKI,&nbsp;GEMİ&nbsp;ADAMININ ÖDENMEYEN ÜCRET ALACAKLARININ TAHSİLİNİ KOLAYLAŞTIRMAK VE ÜCRETİNİN GÜVENCE ALTINA ALINMASINI SAĞLAMAK AMACIYLA KANUNDAN KAYNAKLANAN BİR&nbsp;REHİN&nbsp;HAKKIDIR...</em></strong><em style="background-color: transparent;">Uyuşmazlık 854 Sayılı Deniz İş Kanunu'na tabi&nbsp;gemi&nbsp;adamı olarak hizmet (iş) sözleşmesi ile çalışan ve bu sözleşme uyarınca ödenmesi gereken ücretlerinin davalı işveren tarafından ödenmemesi nedeniyle tahsili amacıyla yapılan icra takibine vaki itirazın iptali istemi olup, taraflar arasında&nbsp;<u>iş ilişkisinden kaynaklanan uyuşmazlığın çözüm yeri iş mahkemesidir</u>.&nbsp;</em></p>
                        <p><em style="background-color: transparent;">Mahkemece işin esasına girilmesi gerekirken hatalı değerlendirme ile görevli mahkemenin Asliye Ticaret Mahkemesi olduğundan bahisle mahkemenin görevsizliğine ilişkin önceki kararda direnilmesi yerinde değildir. “</em>&nbsp;demektedir.</p>
                        <p>Yargıtay kararından da görüleceği üzere gemi adamının işçilik alacakları nedeniyle tespitini talep etmesi halinde bu hakkın mahkemelerce tespit edilmesi gerekmektedir.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-12">
                <div class="blog-list-right">
                    <div class="blog-list-left-heading">
                        <h4>Son Yazılar</h4>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/hand-wash.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("covid19_salgini_karsisinda_isci_isveren_iliskisi", "Blog")">COVID-19 SALGINI KARŞISINDA İŞÇİ-İŞVEREN İLİŞKİSİ</a>
                                <span>Mar 24, 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/market.png" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("tuketici_senedi_nasil_olmalidir", "Blog")">TÜKETİCİ SENEDİ NASIL OLMALIDIR?</a>
                                <span>Kas 27, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-posts">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-4 latest-posts-img"> <img src="~/img/blog/gemi.jpg" alt="blog-img"> </div>
                            <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
                                <a href="@Url.Action("gemi_adami_alacaklari_ihtiyati_haciz_ve_rehin", "Blog")">GEMİ ADAMI ALACAKLARI, İHTİYATİ HACİZ VE REHİN</a>
                                <span>Kas 22, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .BlogDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .BlogDetay {
        color: #555 !important;
        text-align: justify
    }

        .BlogDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>
