@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Hizmetlerimiz</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Hizmetlerimiz", new {})">Hizmetlerimiz</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 text-content-big mt-20 CategoryDetay">
                <div class="section-heading">
                    <h4>Borçlar Hukuku</h4>
                </div>
                <div class="section-heading-line-left"></div>
                <p class="ql-align-justify">Borçlar hukuku, kişiler arasındaki borç ilişkilerini düzenler. Borç ilişkisini doğuran irade ve irade bildirimleri, işlemin doğumu, çeşitleri, borcun sona erişi, bu ilişkinin işlem dışı kişilere etkisi, haksız fiil, sebepsiz zenginleşme, hukuki işlemin bir çeşidi olan sözleşme ve sözleşme türleri, vekaletsiz iş görme, bu hukuk dalının konusunu teşkil eder.</p>
                <p class="ql-align-justify">Borçlar hukukunun temel kaynağı 2011 tarih ve 6098 sayılı Borçlar Kanunu’dur. Bunun dışında Ticaret Kanunu, İş Kanunu, Karayolları Trafik Kanunu, Gayrimenkul Kiraları Hakkında Kanun da borçlar hukukunun kaynakları arasındadır.</p>
                <p class="ql-align-justify">Alacaklının borçludan elde etmek hakkına sahip bulunduğu davranış, borcun konusunu teşkil eder ki, buna da “edim” denir. Edim, genellikle ekonomik bir değer taşır ve verme, yama veya yapmamaya ilişkin olabilir. Arıca edim, belli veya hiç değilse belirlenebilir olmalı, hukuka, ahlaka, adaba aykırı ve imkansız olmamalıdır.</p>
                <p class="ql-align-justify">Borç ifa edilmediği takdirde dava veya takip yoluna başvurup alacağı elde etme hakkını veren borçlara tam bor, bu hakkı vermeyen borçlara eksik borç denir. Eksik borçlarda alacaklı, borçlunun malvarlığına el uzatamaz. Ama, borçlunun geri isteme hakkı olmayacak şekilde kendiliğinden yerine getirmesi mümkündür.</p>
                <p class="ql-align-justify">Borç ilişkisi, Borçlar Kanunu’na göre esas itibariyle üç kaynaktan doğmaktadır. Bunlar, hukuki işlem, haksız fiil ve sebepsiz zenginleşmedir. Hukuki işlemler, hukuki bir sonuç doğurmaya yönelmiş irade açıklamalarıdır. Haksız fiil, herkese karşı olan hukuki görevlerin hukuka aykırı şekilde ihlal edilmesidir. Sebepsiz zenginleşme ise bir kişinin malvarlığı aleyhine, başka bir kişinin malvarlığının geçerli bir sebep olmaksızın artmasıdır.</p>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-menu">
                        <ul> <li><a href="@Url.Action("AileHukuku", "Hizmetlerimiz")">Aile Hukuku</a></li> </ul>
                        <ul> <li class="services-active"><a href="@Url.Action("BorclarHukuku", "Hizmetlerimiz")">Borçlar Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("CezaHukuku", "Hizmetlerimiz")">Ceza Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IcraIflasHukuku", "Hizmetlerimiz")">İcra ve İflas Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IdareHukuku", "Hizmetlerimiz")">İdare Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IsHukuku", "Hizmetlerimiz")">İş Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("MirasHukuku", "Hizmetlerimiz")">Miras Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TasinmazHukuku", "Hizmetlerimiz")">Taşınmaz(Gayrimenkul) Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TicaretHukuku", "Hizmetlerimiz")">Ticaret Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TuketiciHukuku", "Hizmetlerimiz")">Tüketici Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("VergiHukuku", "Hizmetlerimiz")">Vergi Hukuku</a></li> </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .CategoryDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .CategoryDetay {
        color: #555 !important;
        text-align: justify
    }

        .CategoryDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>