@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Hizmetlerimiz</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Hizmetlerimiz", new {})">Hizmetlerimiz</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 text-content-big mt-20 CategoryDetay">
                <div class="section-heading">
                    <h4>Ceza Hukuku</h4>
                </div>
                <div class="section-heading-line-left"></div>
                <p class="ql-align-justify">Bir suçun işlenip işlenmediği, işlenmişse kim tarafından işlenmiş olduğu ve müeyyidesinin ne olacağı sorununa çözüm getirmek amacına yönelik, iddia, savunma ve yargılama niteliğindeki bir dizi faaliyete suç muhakemesi denir. Ceza hukukunun başlıca kaynağı 5271 sayılı Ceza Muhakemeleri Kanunudur.</p>
                <p class="ql-align-justify">Ceza yargılamasının amacı, maddi gerçeği araştırıp bulmak ve böylece adaleti ve hukuki barışı sağlamaktır.</p>
                <p class="ql-align-justify">Ceza yargılaması iki aşamadan oluşur. Bunlardan birincisi, soruşturma aşamasıdır. Soruşturma bir suç haberinin alınması ile başlar. Soruşturma aşamasında savcı, suç haberinin ciddiyetini araştırır. Yapılan soruşturma sonucunda yeterli delile ulaşamamışsa ilgili suç hakkında takipsizlik(KYOK-Kovuşturmaya Yer Olmadığı Kararı) kararı verir. Buna karşılık suç şüpheleri yeteri kadar kuvvetli ise savcı iddianame düzenleyerek kamu davasının açılmasını talep eder. İddianamenin mahkeme tarafından kabul edilmesi ile ikinci aşama olan kovuşturma evresi başlayacaktır.&nbsp;</p>
                <p class="ql-align-justify">Soruşturma ve kovuşturma evrelerinde yer alan deliller, yapılan savunma ve ileri sürülen iddia oldukça önem taşımaktadır. Zira ceza yargılamasında esas olan masumiyet karinesidir. Buna göre bir kişinin suçluluğu ispatlanıncaya kadar masum sayılması esastır. Bu ilke, karar merci tarafından gözetilirken, taraflar da argümanlarını en somut haliyle ortaya koymalıdır.</p>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-menu">
                        <ul> <li><a href="@Url.Action("AileHukuku", "Hizmetlerimiz")">Aile Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("BorclarHukuku", "Hizmetlerimiz")">Borçlar Hukuku</a></li> </ul>
                        <ul> <li class="services-active"><a href="@Url.Action("CezaHukuku", "Hizmetlerimiz")">Ceza Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IcraIflasHukuku", "Hizmetlerimiz")">İcra ve İflas Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IdareHukuku", "Hizmetlerimiz")">İdare Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IsHukuku", "Hizmetlerimiz")">İş Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("MirasHukuku", "Hizmetlerimiz")">Miras Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TasinmazHukuku", "Hizmetlerimiz")">Taşınmaz(Gayrimenkul) Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TicaretHukuku", "Hizmetlerimiz")">Ticaret Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TuketiciHukuku", "Hizmetlerimiz")">Tüketici Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("VergiHukuku", "Hizmetlerimiz")">Vergi Hukuku</a></li> </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .CategoryDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .CategoryDetay {
        color: #555 !important;
        text-align: justify
    }

        .CategoryDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>

