@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Hizmetlerimiz</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Hizmetlerimiz", new {})">Hizmetlerimiz</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 text-content-big mt-20 CategoryDetay">
                <div class="section-heading">
                    <h4>İdare Hukuku</h4>
                </div>
                <div class="section-heading-line-left"></div>
                <p class="ql-align-justify">İdare hukuku, devlet idaresinin teşkilat ve işleyişine ilişkin prensip ve esasları, kişilerin idare ile olan ilişki ve uyuşmazlıklarını ve kamu hizmetlerinin görülmesini düzenleyen ve inceleyen hukuk dalıdır. İdari organlar, kamu hizmetlerinin görülmesinde sadece kamu hukuku kurallarıyla bağlı olmayıp, gerekli hallerde özel hukuk dallarından da yararlanırlar. Ancak idare hukukunun temel kaynağı İdari Yargılama Usulü Kanunu’dur. İdari dava türleri kanunda sınırlı sayıda sayılmış olup bunun dışında farklı bir dava açmak mümkün değildir. Bunlar; İdarî işlemler hakkında yetki, şekil, sebep, konu ve maksat yönlerinden biri ile hukuka aykırı olduklarından dolayı iptalleri için menfaatleri ihlâl edilenler tarafından açılan <strong>iptal davaları</strong>, idari eylem ve işlemlerden dolayı kişisel hakları doğrudan muhtel olanlar tarafından açılan <strong>tam yargı davaları</strong> ve tahkim yolu öngörülen imtiyaz şartlaşma ve sözleşmelerinden doğan uyuşmazlıklar hariç, kamu hizmetlerinden birinin yürütülmesi için yapılan her türlü idari sözleşmelerden dolayı taraflar arasında çıkan uyuşmazlıklara ilişkin davalardır.</p>
                <p class="ql-align-justify">İdari yargının yetkisi, idari eylem ve işlemlerin hukuka uygunluğunun denetimi ile sınırlı olup bu durum kuvvetler ayrılığı ilkesinin gereğidir. Buna göre idari mahkemeler yaptıkları incelemede bu ayrımı özenli bir şekilde yapmalı sahip oldukları takdir yetkisini bu çerçevede kullanmalıdırlar. Zira, Devlet karşısında daha güçsüz konumda olduğu kabul edilen bireyler hakkında tesis edilen idari işlemlerin, yargı denetimine tabi olması; adil yargılanma hakkının, buna bağlı olarak da hukuk devleti ilkesinin bir gereğidir.</p>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-menu">
                        <ul> <li><a href="@Url.Action("AileHukuku", "Hizmetlerimiz")">Aile Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("BorclarHukuku", "Hizmetlerimiz")">Borçlar Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("CezaHukuku", "Hizmetlerimiz")">Ceza Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IcraIflasHukuku", "Hizmetlerimiz")">İcra ve İflas Hukuku</a></li> </ul>
                        <ul> <li class="services-active"><a href="@Url.Action("IdareHukuku", "Hizmetlerimiz")">İdare Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IsHukuku", "Hizmetlerimiz")">İş Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("MirasHukuku", "Hizmetlerimiz")">Miras Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TasinmazHukuku", "Hizmetlerimiz")">Taşınmaz(Gayrimenkul) Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TicaretHukuku", "Hizmetlerimiz")">Ticaret Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TuketiciHukuku", "Hizmetlerimiz")">Tüketici Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("VergiHukuku", "Hizmetlerimiz")">Vergi Hukuku</a></li> </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .CategoryDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .CategoryDetay {
        color: #555 !important;
        text-align: justify
    }

        .CategoryDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>

