@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Hizmetlerimiz</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Hizmetlerimiz", new {})">Hizmetlerimiz</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 text-content-big mt-20 CategoryDetay">
                <div class="section-heading">
                    <h4>Miras Hukuku</h4>
                </div>
                <div class="section-heading-line-left"></div>
                <p class="ql-align-justify">Kişilerin parasal değer taşıyan hak ve borçlardan meydana gelen mal varlığı, kişinin ölümüyle birlikte hareketliliğini kaybeder ve sabit hale gelir. Sabit hale gelmiş mal varlığına “tereke” adı verilir. Miras Hukuku ise terekenin sonunun ne olacağını düzenler. Miras hukukunun temel amacı, ölenin(muris) mal varlığının geleceğini belirlemektir. Bu nedenle, terekenin kime, nasıl ve ne oranda intikal edeceğini, bu mal varlığından yararlanacak kişilerde aranan şartları, kişinin sağlığında, ölümü halinde geriye kalacak mal varlığı üzerinde nasıl tasarrufta bulunabileceğini, terekeden kimlerin imtiyazlı olarak yararlanabileceğini, terekeden yararlanacak kişilerin(mirasçı) birbirleriyle olan ilişkilerini ve ölenin alacaklıları ile olan ilişkilerini düzenlemektir.</p>
                <p class="ql-align-justify">Medeni Kanun iki tür mirasçılık kabul etmiştir. Bunlardan ilki, doğrudan doğruya kanundan doğan mirascılıktır ki, buna kanuni mirasçılık nedir. Diğeri ise, murisin ölüme bağlı bir tasarruftan doğan mirascılıktır. Buna da iradi veya mansup(atanmış) mirasçılık ismi verilir.&nbsp;Kanuni mirasçılar, murisin bazı kan hısımları, evlatlığı, sağ kalan eşi ve devlettir. Muris hiçbir ölüme bağlı tasarrufta bulunmadan ölmüş ve kanuni mirasçısı da bulunmuyorsa miras devlete geçecektir.</p>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-menu">
                        <ul> <li><a href="@Url.Action("AileHukuku", "Hizmetlerimiz")">Aile Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("BorclarHukuku", "Hizmetlerimiz")">Borçlar Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("CezaHukuku", "Hizmetlerimiz")">Ceza Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IcraIflasHukuku", "Hizmetlerimiz")">İcra ve İflas Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IdareHukuku", "Hizmetlerimiz")">İdare Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IsHukuku", "Hizmetlerimiz")">İş Hukuku</a></li> </ul>
                        <ul> <li class="services-active"><a href="@Url.Action("MirasHukuku", "Hizmetlerimiz")">Miras Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TasinmazHukuku", "Hizmetlerimiz")">Taşınmaz(Gayrimenkul) Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TicaretHukuku", "Hizmetlerimiz")">Ticaret Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TuketiciHukuku", "Hizmetlerimiz")">Tüketici Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("VergiHukuku", "Hizmetlerimiz")">Vergi Hukuku</a></li> </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .CategoryDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .CategoryDetay {
        color: #555 !important;
        text-align: justify
    }

        .CategoryDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>

