@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(/img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Hizmetlerimiz</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Hizmetlerimiz", new {})">Hizmetlerimiz</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 text-content-big mt-20 CategoryDetay">
                <div class="section-heading">
                    <h4>Vergi Hukuku</h4>
                </div>
                <div class="section-heading-line-left"></div>
                <p class="ql-align-justify">Vergi Hukuku, bir yanda devletin diğer yanda kişilerin yer aldığı vergi ilişkisini incelemektedir. Taraflardan biri vergi idaresi iken diğer taraf vergi borçlusu yani mükelleftir ancak bazı durumlarda verginin ödenmesi bakımından asıl vergi mükellefi yerine üçüncü kişilerde sorumlu olabilmektedir.&nbsp;Bu kişilere “vergi sorumlusu” denmektedir. Bu ilişkinin temelinde devletin vergilendirme yetkisi yatmaktadır. Yani bu ilişkide tarafların eşitliği söz konusu değildir. Zira vergi hukuku bir kamu hukuku dalıdır.</p>
                <p class="ql-align-justify">Vergi hukukunun konusuna vergi, resim, harç, fon gibi isimlerle alınan çeşitli kamu gelirlerinin tahakkuk-tahsili, vergi suçları ve cezaları, vergilendirme sürecinde çıkan uyuşmazlıkların çözümü gibi konular girmektedir. Bu konularla ilgili düzenlemeler; başta Vergi Usul Kanunu&nbsp;olmak üzere, 6183 sayılı Amme Alacaklarının Tahsil Usulü Hakkında Kanun ve 2575, 2576 ve 2577 sayılı yargıya ve yargılamaya ilişkin kanunlarda yer almaktadır.</p>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-menu">
                        <ul> <li><a href="@Url.Action("AileHukuku", "Hizmetlerimiz")">Aile Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("BorclarHukuku", "Hizmetlerimiz")">Borçlar Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("CezaHukuku", "Hizmetlerimiz")">Ceza Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IcraIflasHukuku", "Hizmetlerimiz")">İcra ve İflas Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IdareHukuku", "Hizmetlerimiz")">İdare Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("IsHukuku", "Hizmetlerimiz")">İş Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("MirasHukuku", "Hizmetlerimiz")">Miras Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TasinmazHukuku", "Hizmetlerimiz")">Taşınmaz(Gayrimenkul) Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TicaretHukuku", "Hizmetlerimiz")">Ticaret Hukuku</a></li> </ul>
                        <ul> <li><a href="@Url.Action("TuketiciHukuku", "Hizmetlerimiz")">Tüketici Hukuku</a></li> </ul>
                        <ul> <li class="services-active"><a href="@Url.Action("VergiHukuku", "Hizmetlerimiz")">Vergi Hukuku</a></li> </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .CategoryDetay.text-content-big p {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #555 !important;
        line-height: 22px !important;
        margin-bottom: 15px !important;
        margin-right: 15px !important;
    }

    .CategoryDetay {
        color: #555 !important;
        text-align: justify
    }

        .CategoryDetay.text-content-big ul {
            padding-left: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 15px !important;
        }
</style>

